# For Loop Gauntlet

The goal of this assignment is to make you a master of utilizing for loops.
Complete all the for loop challenges on the paper. please read each challenge
carefully and make sure that your for loops display exactly what is asked. If
you finish them all, try the bonus challenge.

## Single for-loops

Write a for loop to do each the following

Display all numbers from 0 to 100

In [ ]:
for i in range(0,101):
    print(i)

Display all numbers from 100 to 0

In [ ]:
for i in range(0,101):
    print(100-i)

Display all even numbers from 2 to 100

In [ ]:
for i in range(1,51):
    print(2*i)

Display all odd numbers from 1 to 99

In [ ]:
for i in range(1,51):
    print(2*i-1)

Display all numbers from 1 to 40. if the number is odd, print "odd" next to the number. if the number is even, print "even" next to the number.  
eg:  
 1 is odd  
 2 is even  
 3 is odd  
 4 is even  
 5 is odd...etc.

In [ ]:
for i in range(1,41):
    print(i%2)

Display all multiples of 7 from 0 to 70

In [ ]:
for i in range(70):
    if i%7 ==0:
        print(i)

Print all the years you were alive and how old you were in each. e.g. "in 1979, i was 2 years old." (for a really old person)

In [ ]:
for i in range(12):
    print(2013+i)

## Nested for-loops

Write nested for loops (a for loop inside another for loop). Here is an example of nested loops.

In [ ]:
# Examples of Nested Loops

for i in range(8):
    for j in range(8):
        print(f"({i},{j})", end= ' ')
    print()

For your first nested loop, display this output:  

```
0  0  
0  1  
0  2  
1  0  
1  1  
1  2  
2  0  
2  1  
2  2
```

In [8]:
for i in range(1,4):
    print(i,end=" ")
print()
for j in range(4,7):
    print(j,end=" ")
print()
for q in range(7,10):
    print(q,end=" ")
print()

1 2 3
4 5 6
7 8 9

Display the numbers 1 through 9 in a 3x3 square grid like this:  

```
1  2  3  
4  5  6  
7  8  9  
```

Display the numbers 1 through 100 in a 10x10 square grid.

In [15]:
for i in range(0,10):
    for j in range(1,11):
        print(i*10+j, end=" ")
    print()

1 2 3 4 5 6 7 8 9 10
11 12 13 14 15 16 17 18 19 20
21 22 23 24 25 26 27 28 29 30
31 32 33 34 35 36 37 38 39 40
41 42 43 44 45 46 47 48 49 50
51 52 53 54 55 56 57 58 59 60
61 62 63 64 65 66 67 68 69 70
71 72 73 74 75 76 77 78 79 80
81 82 83 84 85 86 87 88 89 90
91 92 93 94 95 96 97 98 99 100

Display the following output:  

```
*  
*  *  
*  *  *  
*  *  *  *  
*  *  *  *  *  
*  *  *  *  *  *
```

In [10]:
for i in range(1,7):
    for j in range(i):
        print("*", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *